@model SectionsPaginationAndSearchModel

@{
    ViewData["Title"] = "Sections";
    string searchString = Model.Search == "" ? null : Model.Search;
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-6">
        <a asp-area="Manager" asp-controller="Sections" asp-action="Add" class="btn btn-success">Add</a>
    </div>
    <div class="col-md-6">
        <form class="pull-right" method="get" asp-area="Manager" asp-controller="Sections" asp-action="All">
            <input hidden type="text" name="page" value="1" />
            <input type="search" placeholder="search by name" name="search" value=@searchString />
            <input class="btn btn-info" type="submit" value="Search" />
        </form>
    </div>
</div>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th class="col-xs-1">
                Name
            </th>
            <th class="col-xs-1">
                Tables
            </th>
            <th class="col-xs-1">
                Is for smokers
            </th>
            <th class="col-xs-1">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var zone in Model.Sections)
        {
            <tr>
                <td>
                    @zone.Name
                </td>
                <td>
                    @zone.Tables.Count
                </td>
                <td>
                    @(zone.IsForSmokers ? "Yes" : "No")
                </td>
                <td>
                    <div>
                        <a class="btn btn-sm btn-warning" asp-area="Manager" asp-controller="Products" asp-action="Edit" asp-route-id=@zone.Id>Edit</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>Page @Model.Page of @Model.TotalPages</p>

<div>
    <a class="btn btn-default" asp-area="Manager" asp-controller="Sections" asp-action="All" asp-all-route-data="@(new Dictionary<string, string> { { "page", Model.Page.ToString()}, { "direction", "backward"}, { "search", Model.Search} })">&#8678;</a>
    <span class="btn btn-default">@Model.Page</span>
    <a class="btn btn-default" asp-area="Manager" asp-controller="Sections" asp-action="All" asp-all-route-data="@(new Dictionary<string, string> {  { "page", Model.Page.ToString()}, { "direction", "forward"}, { "search", Model.Search} })">&#8680;</a>
</div>