@model IEnumerable<TablesListingServiceModel>
@{
    ViewData["Title"] = "All Tables";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-8">

        <ul>

            @for (int i = 0; i < Model.Count(); i++)
            {
                string table = $"#table{i}";
                string number = $"table{i}";
                bool isEven = i % 2 == 0;
                <li class="list-group-item text-center">
	
                    <div>
                        <a href="@table" data-toggle="collapse" class="btn btn-info" style="border-radius: 50%;">@Model.ElementAt(i).Number</a>

                        @if (User.IsInRole(WebConstants.WaiterRole))
                        {
                            <a asp-area="Waiter" asp-controller="Tables" asp-action="Open" asp-route-number="@Model.ElementAt(i).Number" class="btn btn-primary">Open</a>

                        }
                    </div>
                    <div id="@number" class="collapse">
                        <div>
                            <small style="margin:5px">  seats: @Model.ElementAt(i).Seats section: @Model.ElementAt(i).Section</small>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>