@model TableOpenedServiceModel
@{
    ViewData["Title"] = "Open";
}

<h2>Table @Model.Number</h2>



    @{string searchWord = Model.SearchWord;}

   <a asp-area="Waiter" asp-controller="Tables" asp-action ="Index" class="btn btn-warning">Tables</a>

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-area="Waiter" asp-controller="Tables" asp-action="Open" asp-route-number="@Model.Number" asp-route-searchWord="@searchWord">
            <input type="text" id="searchWord" name="searchWord" />
            <input type="submit" class="btn btn-primary" value="Search" />
        </form>
        <h2>All Products</h2>
        <table class="table table-bordered table-hover">

            <thead>
                <tr>
                    <th>
                        Product
                    </th>

                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products)
            {
                    <tr>
                        <td>
                            @product.Name
                        </td>

                        <td>

                            <form asp-area="Waiter" asp-controller="Products" asp-action="AddToTable" method="post">
                                <div class="row">
                                    <div class="col-md-8">
                                        <input type="hidden" name="ProductId" value="@product.Id" />
                                        <input type="hidden" name="TableNumber" value="@Model.Number" />
                                    </div>
                                    <div class="col-md-4">
                                        <input type="submit" class="btn btn-sm btn-success" value="Add" />
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Products On Table</h2>
            <table class="table table-bordered table-hover">

                <thead>
                    <tr>
                        <th>
                            Products On Table
                        </th>

                        <th>
                            Quantity
                        </th>

                        <th>
                            Single Price
                        </th>
                        <th>
                            Total Price
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.ProductsOnTable)
            {
                        <tr>
                            <td>
                                @product.Name
                            </td>
                            <td>
                                @product.Quantity
                            </td>
                            <td>
                                @product.SinglePrice
                            </td>
                            <td>
                                @product.Price
                            </td>
                            <th>

                                <form asp-area="Waiter" asp-controller="Products" asp-action="Remove" method="post">


                                    <input type="hidden" name="ProductId" value="@product.Id" />
                                    <input type="hidden" name="TableNumber" value="@Model.Number" />


                                    <input type="submit" class="btn btn-sm btn-danger" value="Remove" />


                                </form>
                            </th>
                        </tr>
                       
                    }
                    <tr>
                        <th>Grand Total</th>
                        <td colspan="4">
                            @Model.ProductsOnTable.Sum(p=>p.Price)
                        </td>
                    </tr>
                </tbody>
            </table>
            <a asp-area="Waiter" asp-controller="Tables" asp-action="GetCheck" asp-route-tableNumber="@Model.Number" class="btn btn-danger">Print Bill</a>
        </div>
    </div>
    </div>
