@model TableOpenedServiceModel
@{
    ViewData["Title"] = "Open";
}

<h2>Table @Model.Number</h2>

<div class="col-md-6">

    @{string searchWord = Model.SearchWord;}

    <form method="post" asp-area="Waiter" asp-controller="Tables" asp-action="Open" asp-route-number="@Model.Number" asp-route-searchWord="@searchWord">
        <input type="text" id="searchWord" name="searchWord" />
        <input type="submit" class="btn btn-primary" value="Search" />
    </form>
</div>
<div class="row">
    <div class="col-md-4">
        <table class="table table-bordered table-hover">

            <thead>
                <tr>
                    <th>
                        Product
                    </th>

                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products)
            {
                    <tr>
                        <td>
                            @product.Name
                        </td>

                        <td>

                            <form asp-area="Waiter" asp-controller="Products" asp-action="AddToTable" method="post">
                                <div class="row">
                                    <div class="col-md-8">
                                        <input type="hidden" name="ProductId" value="@product.Id" />
                                        <input type="hidden" name="TableNumber" value="@Model.Number" />
                                    </div>
                                    <div class="col-md-4">
                                        <input type="submit" class="btn btn-sm btn-success" value="Add" />
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


        <div class="col-md-4">
            <table class="table table-bordered table-hover">

                <thead>
                    <tr>
                        <th>
                            Products On Table
                        </th>

                        <th>
                            Quantity
                        </th>

                        <th>
                            Price
                        </th>

                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.ProductsOnTable)
            {
                        <tr>
                            <td>
                                @product.Name
                            </td>
                            <td>
                                @product.Quantity
                            </td>
                            <td>

                            </td>

                            <th>

                                <form asp-area="Waiter" asp-controller="Products" asp-action="Remove" method="post">


                                    <input type="hidden" name="ProductId" value="######" />
                                    <input type="hidden" name="TableNumber" value="@Model.Number" />


                                    <input type="submit" class="btn btn-sm btn-danger" value="Remove" />


                                </form>
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>